<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbook.mapper.NotebookMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notebook (create_time, update_time, status, name, user_id)
        VALUES (now(), now(), 1, #{name}, #{userId})
    </insert>
    <delete id="delete">
        DELETE
        FROM notebook
        WHERE id = #{id}
    </delete>
    <select id="getAllNotebooksByUsername" resultType="notebook">
        SELECT *
        FROM notebook
        WHERE user_id = (SELECT id FROM user WHERE name = #{name})
    </select>
    <select id="getNotebooksByUsername" resultType="notebook">
        SELECT *
        FROM notebook
        WHERE user_id = (SELECT id FROM user WHERE name = #{name})
          AND status = 1
    </select>
    <select id="getDeleteNotebooksByUsername" resultType="notebook">
        SELECT *
        FROM notebook
        WHERE user_id = #{id}
          AND status = 0
    </select>
    <update id="update">
        UPDATE notebook
        SET update_time = #{updateTime},
            status      = #{status},
            name        = #{name},
            user_id     = #{userId}
        WHERE id = #{id}
    </update>
    <select id="getNotebookById" resultType="notebook">
        SELECT *
        FROM notebook
        WHERE id = #{id}
    </select>
</mapper>