<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbook.mapper.NotebookMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into notebook (update_time, status, name, user_id)
        values (#{updateTime}, #{status}, #{name}, #{user.id})
    </insert>
    <delete id="delete">
        delete from notebook where id = #{id}
    </delete>
    <select id="getNotebooksByUserId" resultType="notebook">
        select * from notebook where user_id = #{id}
    </select>
</mapper>