<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbook.mapper.NoteMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO note (create_time, update_time, title, content, status, notebook_id, user_id)
        VALUES (now(), now(), #{title}, #{content}, 1, #{notebookId}, #{userId})
    </insert>
    <delete id="delete">
        DELETE
        FROM note
        WHERE id = #{id}
    </delete>
    <select id="getNotesByNotebookId" resultType="note">
        SELECT id, create_time, update_time, title, url
        FROM note
        WHERE notebook_id = #{id}
          AND status = 1
    </select>
    <select id="getAllDeleteNotes" resultType="note">
        SELECT id, update_time, delete_time, title, status, notebook_id
        FROM note
        WHERE notebook_id IN (SELECT id FROM notebook WHERE user_id = #{id})
          AND status = 0
    </select>
    <update id="update">
        UPDATE note
        SET update_time = #{updateTime},
            delete_time = #{deleteTime},
            title       = #{title},
            content     = #{content},
            status      = #{status},
            notebook_id = #{notebookId}
        WHERE id = #{id}
    </update>
    <update id="updateNoteTitle">
        UPDATE note
        SET title       = #{title},
            update_time = now()
        WHERE id = #{id}
    </update>
    <update id="updateNoteContent">
        UPDATE note
        SET content     = #{content},
            update_time = now()
        WHERE id = #{id}
    </update>
    <select id="getNoteById" resultType="note">
        SELECT *
        FROM note
        WHERE id = #{noteId}
    </select>
</mapper>