<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbook.mapper.UserMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, pass, phone_number, email)
        VALUES (#{name}, #{pass}, #{phoneNumber}, #{email})
    </insert>
    <delete id="delete">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>
    <select id="getUserByName" resultType="user">
        SELECT *
        FROM user
        WHERE name = #{name}
    </select>
    <update id="update">
        UPDATE user
        SET name         = #{name},
            pass         = #{pass},
            phone_number = #{phoneNumber},
            email        = #{email}
        WHERE id = #{id}
    </update>
</mapper>